# ── Data manipulation ─────────────────────────────────────────
pandas==2.2.2
numpy==1.26.4

# ── Visualisation ─────────────────────────────────────────────
matplotlib==3.8.4
seaborn==0.13.2
missingno==0.5.2

# ── Machine Learning ──────────────────────────────────────────
scikit-learn==1.4.2
imbalanced-learn==0.12.2
joblib==1.4.2

# ── Stats ─────────────────────────────────────────────────────
scipy==1.13.0
